anyio==3.5.0
asgiref==3.4.1
click==8.0.4
contextlib2==21.6.0
contextvars==2.4
dataclasses==0.8
fastapi==0.75.2
greenlet==1.1.2
h11==0.13.0
idna==3.3
immutables==0.17
importlib-metadata==4.8.3
pkg_resources==0.0.0
psycopg2==2.7.7
pydantic==1.9.0
sniffio==1.2.0
SQLAlchemy==1.4.35
starlette==0.17.1
typing_extensions==4.1.1
uvicorn==0.16.0
zipp==3.6.0
